<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>Profile</title>
    <style>
      body {
        background-color: rgb(70, 150, 182);
        color: #fff;
        font-weight: 600;
        text-align: center;
      }
      ul {
        list-style: none;
      }
      .form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .footer {
        position: absolute;
        top: 92%;
        left: 45%;
      }
    </style>
  </head>
  <body></body>
</html>
