body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}
#container {
  width: 1000px;
  height: 550px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://images.pexels.com/photos/1111318/pexels-photo-1111318.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-1111318.jpg&fm=jpg);
  margin: 20px auto;
  background-size: 1200px;
}
#calculator {
  width: 320px;
  height: 520px;
  background-color: #eaedef;
  margin: 0 auto;
  position: relative;
  top: 20px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result {
  height: 120px;
}
/* #history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
} */
#input {
  text-align: right;
  height: 60px;
  width: 280px;
  margin: 10px 20px;
  font-size: 30px;
  background-color: #eaedef;
  border: none;
}
#keyboard {
  height: 400px;
}
.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50px;
  border-width: 0;
  font-size: 15px;
  font-weight: bold;
}
.number,
.empty {
  background-color: #eaedef;
}
.number,
.operator {
  cursor: pointer;
}
.operator:active,
.number:active {
  font-size: 12px;
}
.operator:focus,
.number:focus,
.empty:focus {
  outline: 0;
}
button:nth-child(1) {
  font-size: 21px;
  background-color: #f5f7b2;
}
button:nth-child(2) {
  font-size: 21px;
  background-color: #ff8474;
}
button:nth-child(3) {
  font-size: 21px;
  background-color: #3edbf0;
}
button:nth-child(4) {
  font-size: 21px;
  background-color: #20b2aa;
}
button:nth-child(8) {
  font-size: 21px;
  background-color: #ffa500;
}
button:nth-child(12) {
  font-size: 21px;
  background-color: #f08080;
}
button:nth-child(16) {
  font-size: 21px;
  background-color: #7d93e0;
}
button:nth-child(20) {
  font-size: 21px;
  background-color: #9477af;
}
