body {
  background: #eee;
  max-width: 960px;
  margin: 20px auto;
}
p,
h3,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  background: #fff;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li.fav {
  background: #96a0ff;
  color: white;
}

button {
  cursor: pointer;
  display: inline-block;
  background: #333;
  color: white;
  font-size: 18px;
  border: 0;
  padding: 1rem 1.5rem;
  margin-top: 20px;
  border-radius: 10px;
}
