/* heading */

* {
  margin: 4px;
}

/* #leh {
  color: blue;
  background-color: burlywood;
  float: right;
}  */

[id^="l"] {
  color: blue;
  background-color: burlywood;
  float: right;
}

/* Descendant Selector */
/* .content .html {
  color: rgb(0, 35, 231);
} */

/* Child Selector */
/* .content > .react {
  color: darkgoldenrod;
} */

/* Adjacent Sibling Selector */
.html + .html {
  color: darkgoldenrod;
}

.html + .html + .html {
  color: red;
}

/* General Sibling Selector */
/* .content ~ .html {
  color: darkgoldenrod;
} */

/* Selector with attribute */
a[target="_blank"] {
  background-color: thistle;
}

input[name="fname"] {
  width: 200px;
  height: 50px;
}

/* Selector Specificity  */
/* 1. Inline Styling                        - 1000
   2. id selector                           - 100
   3. class selector/ attribute selector    - 10
   4. Element                               - 1
   */

/* 11 */
.content2 h2 {
  color: turquoise;
}

/* 11 */
div .heading2 {
  color: yellowgreen;
}

/* 1rem = 16px */

.box {
  margin: 10px 20px 40px 100px;
  background-color: teal;
  padding: 40px 30px;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 2rem; /* 32px */
  font-weight: 900;
  color: aqua;
  float: right;
}

/* 
1 rem -> 16px
*/

.box2 {
  background-image: url("../01.HTML/testImage.png");
  background-size: cover;
  background-position: center;
  padding: 100px;
  margin-top: 50px;
  width: 200px;
  height: 100px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.739);
}

.box2 > .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 61;
  background-color: blueviolet;
  width: 50px;
  height: 50px;
}

.box2 > .content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  background-color: rgb(168, 231, 21);
  width: 50px;
  height: 50px;
}
